/*COLORS: Orange - #F29021 | Dark Orange - #D64815 | Blue - #16617E */

body{
	padding: 0px;
	background-image:url(../img/bg/orange_light.png);
	font-family:'Source Sans Pro', sans-serif;	
}



html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	min-height:100%;
	position:absolute;
}

header{
	width:auto;
	clear:both;
}

header{
	margin-top:0;
	height:auto;
	background-image:url(../img/bg/az_subtle.png);
	border-bottom: solid 2px #F29021;
	box-shadow:0px 2px 2px #888888;
	position:fixed;
	width:100%;
	margin-bottom:1em;
}

nav{
	width:70%;
	display:inline-block;
	vertical-align:bottom;
}

nav a{
	color:#16617E;
	display:inline;
	text-decoration:none;
	font-size:1.25em;
}

h1{
	font-family:'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:2.5em;
	color: #F29021;
	margin-top:0;
	margin-bottom:0;
}

h2{
	color: #A7A7A7;
	margin-top:0;
	margin-bottom:0;
	font-weight:300;
}

h3{
	font-family:'Source Sans Pro', sans-serif;
	font-weight:900;
	border-bottom: 1px solid #D64815;
	color:#D64815;
	width:100%;
}

strong{
	font-weight:600;
}

.navLink{
	transition:background .4s ease, border .5s ease;
	border-right:1px solid #16617E;
}

.navLink:hover{
	background:rgba(255, 255, 255, 0.6);
}
	

.header_container{
	width:960px;
	margin:auto;
	position:relative;
}

.menuBG{
	background-color:#16617E;
	border:2px solid #16617E;
}

figure{
	margin:0;
}

#logo{
	width:30%;
	display:inline-block;
	margin:0;
	margin-right:-4px;
	padding:0;
}

#logo img{
	margin-top:.25em;
	height:2em;
	margin-right:1em;
}

#logo h1{
	font-size:2em;
	font-weight:500;
	display:inline;
	color:#888;
}

#content{
	width:960px;
	margin:auto;
	margin-top:1em;
}

.inline{
	display:inline;
}

.contentPane{
	text-align:left!important;
	background-image:url(../img/bg/egg_shell.png);
	height:auto;
	margin:0;
	padding:1em!important;
	border:1px solid #F29021;
	overflow: auto;
}

#devin img{
	width:50%;
	float:right;
	margin-left:1em;
	margin-bottom:.5em;
}

#cats img{
	width:100%;
}

.project img{
	width:100%;
	margin-bottom:1em;
}

.borderBottom{
	border-bottom:1px dashed #888888;
}

.padding{
	padding:1em;
}

table{
	margin-top:1em;
}

th{
	color:#F29021;
	font-weight:600;
	text-align:right;
	vertical-align:top;
}

tr, td{
	padding-left:1em;
	padding-right:1em;
	padding-bottom:.5em;
}

td em{
	color:#888888;
}
/*
.project{

}

.project img{
}

.project h1{
	font-size:2em;
	text-shadow:2px 2px black;

}

.project p{
	color:white;
	text-shadow:2px 2px black;

}

.project h2{
	font-size:1.5em;
	color:#C9C9C9;
	text-shadow:2px 2px black;
}
*/

#aboutSection, #projectSection, #experienceSection, #contactSection{
	margin-bottom:1em;
}


.right{
	float:right;
}

.noMargin{
	margin:0;
}

.noBorder{
	border:0;
}

.noPadding{
	padding:0;
}

.hidden{
	display:none;
}

#scrollNav{
display:inline;
	position:absolute;
	width:960px;
	left:25%;
}
#scrollHeader{
	height:1.8em;
	position:fixed;
	top:0;
	width:100%;
	background-image:url(../img/bg/az_subtle.png);
	border-bottom: solid 2px #F29021;
	box-shadow:0px 5px 5px #888888;
}

#scrollLogo img{
	height:1.2em;
	display:inline;
}