/*COLORS: Orange - #F29021 | Dark Orange - #D64815 | Blue - #16617E */

body{
	padding: 0px;
	background-image:url(../img/bg/honey_im_subtle.png);
	font-family:'Source Sans Pro', sans-serif;	
}



html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	min-height:100%;
	position:absolute;
}

header{
	width:auto;
	clear:both;
}

header{
	margin-top:0;
	height:auto;
	background-image:url(../img/bg/az_subtle.png);
	border-bottom: solid 2px #F29021;
	box-shadow:0px 5px 5px #888888;
}

nav{
	width:70%;
	display:inline-block;
}

nav a{
	color:#16617E;
	display:inline;
	text-decoration:none;
	font-size:1.5em;
}

h1{
	font-family:'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:2.5em;
	color: #F29021;
	margin-top:0;
	margin-bottom:0;
}

h2{
	color: #A7A7A7;
	margin-top:0;
	margin-bottom:0;
	font-weight:300;
}

h3{
	font-family:'Source Sans Pro', sans-serif;
	font-weight:900;
	border-bottom: 1px solid #D64815;
	color:#D64815;
	width:100%;
}

strong{
	font-weight:600;
}

.navLink{
	transition:background .4s ease, border .5s ease;
	border-right:1px solid #16617E;
}

.navLink:hover{
	background:rgba(255, 255, 255, 0.6);
}
	

.header_container{
	width:960px;
	margin:auto;
	position:relative;
}

figure{
	margin:0;
}

#logo{
	width:30%;
	display:inline-block;
	margin:0;
	margin-right:-4px;
	padding:0;
}

#logo img{
	height:7em;
}

#content{
	width:960px;
	margin:auto;
}

.contentPane{
	text-align:left!important;
	background-image:url(../img/bg/egg_shell.png);
	height:auto;
	margin:.5em;
	padding:1em!important;
	box-shadow:5px 5px 5px #888888;
	border:1px solid #F29021;
	overflow: auto;
}

#devin img{
	width:50%;
	float:right;
	margin-left:1em;
	margin-bottom:.5em;
}

#cats img{
	width:100%;
}

.project img{
	width:100%;
	margin-bottom:1em;
}

.borderBottom{
	border-bottom:1px dashed #888888;
}

table{
	margin-top:1em;
}

th{
	color:#F29021;
	font-weight:600;
	text-align:right;
	vertical-align:top;
}

tr, td{
	padding-left:1em;
	padding-right:1em;
	padding-bottom:.5em;
}

td em{
	color:#888888;
}

.project{
	text-align:left;
	padding:.5em;
	
}

.project img{
	width:100%;
}

.project h1{
	font-size:2em;
	text-shadow:2px 2px black;

}

.project p{
	color:white;
	text-shadow:2px 2px black;

}

.project h2{
	font-size:1.5em;
	color:#C9C9C9;
	text-shadow:2px 2px black;
}

.projectWindow{
	padding:1em;
}

.projectWindow p, .projectWindow strong{
	margin-top:0;
	margin-bottom:.5em;
	color:white;
}

.projectWindow h1{
	color:#D64815;
	font-weight:500;
	border-bottom:1px solid #D64815;
	margin-bottom:.5em;
	text-shadow:2px 2px black;
}

.close{
	float:right;
	cursor:pointer;
	font-size:.7em;
	color:#888;
}

#uforia{
	height:13em;
	padding:1em;
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/uforia.jpg);
	background-size:cover;
	background-color:rgba(55, 55, 55, 0.50);
	transition:box-shadow .3s ease;
	cursor:pointer;
}

#uforia:hover, #theSandwich:hover, #gestureRemote:hover, #harvey:hover, #qwert:hover{
	box-shadow:inset 0px 0px 50px rgb(150, 150, 150);
}

#theSandwich{
	height:13em;
	padding:1em;
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/sandwich.jpg);
	background-size:cover;
	background-color:#888;
	transition:box-shadow .3s ease;
	cursor:pointer;
}

#gestureRemote{
	height:13em;
	padding:1em;
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/kinect.jpg);
	background-size:cover;
	background-color:#888;
	transition:box-shadow .3s ease;
	cursor:pointer;
}

#harvey{
	height:13em;
	padding:1em;
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/harvey.jpg);
	background-size:cover;
	background-color:#888;
	transition:box-shadow .3s ease;
	cursor:pointer;
}

#qwert{
	height:13em;
	padding:1em;
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/qwert.jpg);
	background-size:cover;
	background-color:#888;
	transition:box-shadow .3s ease;
	cursor:pointer;
}

iframe{
	display:inline;
	float:right;
	margin:1em;
	margin-top:0;
	margin-right:0;
}

#uforiaProject{
	background-image:linear-gradient(rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)),url(../img/projects/uforia.jpg);
	background-size:cover;
	background-color:rgba(55, 55, 55, 0.50);	
}

.selectedProject{

}