.projectLink{
	background-position: 0 -2em;
	text-align:left;
	text-shadow:2px 2px black;
	margin-top:.5em;
	margin-top:0;
	text-align:center;
	background-color:#133E4E;
	border-bottom:1px solid black;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.projectLink h2{
	padding-bottom:.125em;
	padding-top:.125em;
}

.projectLink:hover{
	background-color:#0F3442;
}

#projectSidebar{
	margin-top:.5em;
	width:18em;
	display:block;
	position:fixed;
	float:left;
	clear:both;
}

#projectSidebar img{
	width:18em;
}

#projectSidebar h1{
	color:#DBDBDB;	
	border-bottom:1px solid #0F3442;
	font-size:1.5em;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
	width:100%;
	text-shadow:2px 2px 2px #333;
}

#projectSidebar h1:hover{
	background-color:#11546F;	
	border-bottom:1px solid #0F3442;
}

#projectSidebar a{
	text-decoration:none;
}
#projectSidebar ul{
	padding:0;
	margin:0;
}
#projectSidebar ul li{
	list-style:none;
}

#projects{
	float:right;
}

.titleBar{
	margin-bottom:.5em;
}

.projectLink h1{
	font-size:1em;
	color:#7A4B16;
	font-weight:500;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.projectLink h2{
	font-size:1.25em;
	color:#999	;
	font-weight:400;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
	text-shadow:2px 2px 2px #333;
}

.projectLink p{
	font-size:.8em;
	color:white;
}

.viewing h1{
	font-size:1.5em;
	color:#F29021;
}

.viewing h2{
	font-size:1.2em;
	color:#A7A7A7;
}

#projectSidebar .activeLink h1{
	color:#fff;
	background-color:#2dab66;
}

#projectSidebar .activeLink h2{
	color:#fff;
	background-color:#2dab66;
}

.project{
	margin-bottom:2em;
}
.projectWindow{
	margin-top:.3em;
}

.projectWindow p, .projectWindow strong{
	margin-top:0;
	margin-bottom:.5em;
	color:black;
}

.projectWindow h1{
	font-size:2em;
	color:#D64815;
	font-weight:500;
	border-bottom:1px solid #D64815;
	margin-bottom:.5em;
	text-shadow:2px 2px #999;
}

.close{
	float:right;
	cursor:pointer;
	font-size:.7em;
	color:#888;
}

#uforia{
	background-size:cover;
	cursor:pointer;
}


#theSandwich{
	background-size:cover;
	cursor:pointer;
}

#gestureRemote{
	cursor:pointer;
}

#harvey{
	cursor:pointer;
}

#qwert{
	cursor:pointer;
}

#amnesia{
	cursor:pointer;
}

iframe{
	width:100%;
	display:inline;
	margin:1em;
	margin-left:0;
	margin-top:0;
	margin-right:0;
	border:2px solid #666;
}

#uforiaProject{
	background-size:cover;
	background-color:rgba(55, 55, 55, 0.50);	
}

#theSandwichProject{
	background-size:cover;
	background-color:rgba(55, 55, 55, 0.50);	
}